<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'depositoCRUD')}">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Cadastro de Depósito</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Novo Depósito</strong>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" th:object="${deposito}" th:action="@{/deposito/save}" method="POST" style="margin: 10px">
            <div class="form-group">
                <fieldset>
                    <div class="form-group row">
                        <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                            <div th:each="detailedError : ${#fields.detailedErrors()}">
                                <span th:text="${detailedError.message}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-1">
                            <input type="text" class="form-control input-sm" id="id" th:field="*{id}" readOnly="readonly"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4" th:classappend="${#fields.hasErrors('colecao')}? 'has-error'">
                            <label>Coleção</label>
                            <select class="form-control" th:field="*{colecao.id}">
                                <option value="" selected="selected">Selecione</option>
                                <option th:each="colecao : ${colecoes}" th:value="${colecao.id}" th:text="${colecao.descricao}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4" th:classappend="${#fields.hasErrors('autorNome')}? 'has-error'">
                            <label>Nome do Autor</label>
                            <input type="text" class="form-control input-sm" th:field="*{autorNome}"/>
                        </div>
                        <div class="col-md-4" th:classappend="${#fields.hasErrors('autorSobrenome')}? 'has-error'">
                            <label>Sobrenome do Autor</label>
                            <input type="text" class="form-control input-sm" th:field="*{autorSobrenome}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4" th:classappend="${#fields.hasErrors('orientador')}? 'has-error'">
                            <label>Orientador</label>
                            <select class="form-control" th:field="*{orientador.id}">
                                <option value="" selected="selected">Selecione</option>
                                <option th:each="orientador : ${professores}" th:value="${orientador.id}" th:text="${orientador.nome} + ' ' + ${orientador.sobrenome}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4" th:classappend="${#fields.hasErrors('titulo')}? 'has-error'">
                            <label>T&iacute;tulo</label>
                            <input type="text" class="form-control input-sm" th:field="*{titulo}" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2" th:classappend="${#fields.hasErrors('diaDefesa')}? 'has-error'">
                            <label>Dia da Defesa</label>
                            <input type="text" class="form-control input-sm" th:field="*{diaDefesa}"/>
                        </div>
                        <div class="col-md-2" th:classappend="${#fields.hasErrors('mesDefesa')}? 'has-error'">
                            <label>Mês da Defesa</label>
                            <input type="text" class="form-control input-sm" th:field="*{mesDefesa}"/>
                        </div>
                        <div class="col-md-2" th:classappend="${#fields.hasErrors('anoDefesa')}? 'has-error'">
                            <label>Ano da Defesa</label>
                            <input type="text" class="form-control input-sm" th:field="*{anoDefesa}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2" th:classappend="${#fields.hasErrors('idioma')}? 'has-error'">
                            <label>Idioma</label>
                            <select class="form-control" th:field="*{idioma}">
                                <option th:each="idioma : ${idiomas}" th:value="${idioma}" th:text="${idioma.descricao}"></option>
                            </select>
                        </div>
                        <div class="col-md-2" th:classappend="${#fields.hasErrors('pais')}? 'has-error'">
                            <label>País</label>
                            <select class="form-control" th:field="*{pais}">
                                <option th:each="pais : ${paises}" th:value="${pais}" th:text="${pais.descricao}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4" th:classappend="${#fields.hasErrors('tipoDocumento')}? 'has-error'">
                            <label>Tipo do Documento</label>
                            <select class="form-control" th:field="*{tipoDocumento}">
                                <option th:each="tipoDocumento : ${tipos}" th:value="${tipoDocumento}" th:text="${tipoDocumento.descricao}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3" th:classappend="${#fields.hasErrors('permissaoAcesso')}? 'has-error'">
                            <label>Permissão de Acesso</label>
                            <select class="form-control" th:field="*{permissaoAcesso}">
                                <option th:each="permissaoAcesso : ${permissoes}" th:value="${permissaoAcesso}" th:text="${permissaoAcesso.descricao}"></option>
                            </select>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="form-group row">
                <button type="submit" class="btn btn-sm btn-primary">Salvar</button>
                <a th:href="@{/deposito}" class="btn btn-sm btn-default">Cancelar</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>