<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'depositoList')}">

<body>
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Professores</strong>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-sm table-striped table-hover table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>E-mail</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="professor : ${professores}">
                    <td th:text="${professor.id}"></td>
                    <td th:text="${professor.nome}"></td>
                    <td th:text="${professor.sobrenome}"></td>
                    <td th:text="${professor.email}"></td>
                    <td>
                        <div class="btn-group pull-right">
                            <a class="btn btn-sm btn-primary" th:href="@{/professor/edit/{id}(id=${professor.id})}" >Editar</a>
                            <a class="delete btn btn-sm btn-danger" th:href="@{/professor/delete/{id}(id=${professor.id})}">Excluir</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel-footer">
        <a class="btn btn-sm btn-success" th:href="@{/professor/add/}" >Adicionar</a>
    </div>
</div>
</body>
</html>